{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Comptible" content="IE-edge">
		<meta name="viewport" content="width=devide-width, initial-scale=1">
		<title>{% block page_title %}{% endblock %}</title>
		<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	</head>
	<body>
	<div class="container">
		<nav class="navbar navbar-default" role="navigation">
			{% if user.email %}
				<ul class="nav navbar-nav">
					<li><a href="{% url 'journal' %}">Journals list</a></li>
				</ul>
				<a class="btn navbar-btn navbar-right" id="id_logout" href="{% url 'logout' %}">Log out</a>
				<span class="navbar-text navbar-right">Logged in as {{ user.email }}</span>
			{% else %}
				<a class="btn navbar-btn navbar-right" id="id_login" href="#">Sign in</a>
			{% endif %}
																																																		</nav>
	{% block content %}
	{% endblock %}
</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="https://login.persona.org/include.js"></script>
	<script src="/static/accounts.js"></script>
	<script>
		$(document).ready(function() {
			var user = "{{ user.email }}" || null;
			var token = "{{ csrf_token }}";
			var urls = {
				login: "{% url 'login' %}",
				logout: "TODO",
			};
			Running_Journal.Accounts.initialize(navigator, user, token, urls);
		});
		</script>
	</body>
</html>
