{% extends 'base.html' %}

{% block page_title %}
Entry Details
{% endblock %}

{% block content %}

<h2>{{ journal_entry.route }} ({{ journal_entry.date }})</h2>
<p id='details'>
Distance: {{ journal_entry.distance_in_kilometers }}KM<br>
Time: <br>
</p>
<p id='notes'>
<strong>Notes:</strong><br>
{{ journal_entry.notes }}
</p>
<p>
<a href="{% url 'journal_entry_delete' journal_id=journal_id pk=journal_entry.id %}">Delete</a><br>
<a href="{% url 'journal_entry_list' pk=journal_id %}">Back to list</a>
</p>
{% endblock %}
