{% extends 'base.html' %}

{% block page_title %}

	{% if journal_entry.id %}
		Edit an entry
	{% else %}
		Add an entry
	{% endif %}

{% endblock %}

{% block content %}

{% if journal_entry.id %}
	<h2>Edit an entry</h2>
{% else %}
	<h2>Add an entry</h2>
{% endif %}

<form action="{{ action }}" method="POST">
	{% csrf_token %}
	{% if form.non_field_errors %}
	<ul>
	{% for error in form.non_field_errors %}
		<li class="alert-danger">{{ error }}</li>
	{% endfor %}
	</ul>
	{% endif %}
	{% for field in form %}
	<div id="{{ field.auto_id }}_container">
	{{ field.help_text }}
	<div>{{ field.label_tag }} {{ field }}</div>
	{% if field.errors %}
	<div id="{{ field.auto_id }}_errors" class="alert-danger">
		{{ field.errors }}
	</div>
	{% endif %}
	</div>
	{% endfor %}
	<input id="save_journal" type="submit" value="Save"/>
</form>
{% if journal_entry.id %}
<a href="{% url 'journal_delete' pk=journal_entry.id %}">Delete</a><br>
{% endif %}
<a href="{% url 'journal_list' %}">Back to list</a>

{% endblock %}
