{% extends 'base.html' %}

{% block page_title %}

	{% if journal.id %}
		Edit an entry
	{% else %}
		Add an entry
	{% endif %}

{% endblock %}

{% block content %}

{% if journal.id %}
	<h2>Edit an entry</h2>
{% else %}
	<h2>Add an entry</h2>
{% endif %}

<form action="{{ action }}" method="POST">
	{% csrf_token %}
	<ul>
	{{ form.as_ul }}
	</ul>
	<input id="save_journal" type="submit" value="Save"/>
</form>
{% if journal.id %}
<a href="{% url 'journal_delete' pk=journal.id %}">Delete</a><br>
{% endif %}
<a href="{% url 'journal_list' %}">Back to list</a>

{% endblock %}
